body {
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
    }

/*    #hide-display{
        display:none;
    }*/


.placeholderSidebar{
    height: 400px;
       color: black;
       border: 2px solid black;
       border-radius: 15px
   }
    /* navbar */
    
    .navbar {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0 !important;
        background-color: #f4511e !important;
        z-index: 9999 !important;
        border: 0 !important;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
    }
    
    .navbar li a,
    .navbar .navbar-brand {
        color: #fff !important;
    }
    
    .navbar-nav li a:hover,
    navbar-nav li.active a {
        color: #f4511e !important;
        background-color: #fff !important;
    }
    
    .navbar-default,
    .navbar-toggle {
        border-color: transparent !important;
        color: #fff !important;
    }
    /* Jumbotron */
    
    .jumbotron {
        font-family: Montserrat, sans-serif;
        background-color: #f4511e !important;
        color: #ffffff !important;
        padding: 100px 25px !important;
    }
    
    .bg-grey {
        background: #f6f6f6;
    }
    

    .logo {
        font-size: 200px;
    }
    
    .logo-small {
        color: #f4511e;
        font-size: 50px;
    }
    
    .carousel-control.right,
    .carousel-control.left {
        background-image: none !important;
        color: #f4511e !important;
    }
    
    .carousel-indicators li {
        border-color: #f4511e !important;
    }
    
    .carousel-indicators li.active {
        background-color: #f4511e;
    }
    
    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
    }
    
    .item span {
        font-style: normal;
    }
    
    footer .glyphicon {
        font-size: 20px;
        margin-bottom: 20px;
        color: #f4511e;
    }
footer {
   clear: both;
   position: relative;
   z-index: 10;
   height: 3em;
   margin-top: -3em;
}

    footer p {
        color: #bbb;
    }