   body {
       font: 400 15px Lato, sans-serif;
       line-height: 1.8;
       color: #818181;
   }
   
   .glyphicon {
       position: absolute !important;
       top: 0px !important;
       left: 10px !important;
       display: inline-block;
       font-family: 'Glyphicons Halflings';
       font-style: normal;
       font-weight: 400;
       line-height: 1;
       -webkit-font-smoothing: antialiased;
   }
   /* navbar */
   /*.navbar {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0 !important;
        background-color: #f4511e !important;
        z-index: 9999 !important;
        border: 0 !important;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
    }
    
    .navbar li a,
    .navbar .navbar-brand {
        color: #fff !important;
    }
    
    .navbar-nav li a:hover,
    navbar-nav li.active a {
        color: #f4511e !important;
        background-color: #fff !important;
    }
    
    .navbar-default,
    .navbar-toggle {
        border-color: transparent !important;
        color: #fff !important;
    }*/
   /* Jumbotron */

   .jumbotron {
       font-family: Montserrat, sans-serif;
       background-color: #f4511e !important;
       color: #ffffff !important;
       padding-top: 10px !important;
       padding-bottom: 10px !important;
   }
   
   .bg-grey {
       background: #f6f6f6;
   }
   
   .container-fluid {
       padding: 60px 50px !important;
   }
   
   .logo {
       font-size: 200px;
   }
   
   .logo-small {
       color: #f4511e;
       font-size: 50px;
   }
   
   #questionField,
   #infoField,
   #buttonResponses {
       text-align: center;
   }
   /*    
    .thumbnail {
        padding: 0 0 15px 0 !important;
        border: none !important;
        border-radius: 0 !important;
    }
    
    .thumbnail img {
        width: 100% !important;
        height: 100% !important;
        border: none !important;
        margin-bottom: 10px !important;
        padding: 0 !important;
    }*/
   
   .list-group {
       display: inline-grid;
   }
   
   .carousel-control.right,
   .carousel-control.left {
       background-image: none !important;
       color: #f4511e !important;
   }
   
   .carousel-indicators li {
       border-color: #f4511e !important;
   }
   
   .carousel-indicators li.active {
       background-color: #f4511e;
   }
   
   .item h4 {
       font-size: 19px;
       line-height: 1.375em;
       font-weight: 400;
       font-style: italic;
       margin: 70px 0;
   }
   
   .item span {
       font-style: normal;
   }
   
   .list-group-item.active {
       padding: 10px 40px 10px 40px;
   }

   .spaceFillerTop{
    padding: 15px;
   }


.glyphicon-chevron-right, .glyphicon-chevron-left{
    margin-top: 200px !important;
}
   /*.panel {
        border: 1px solid #f4511e !important;
        transition: box-shadow .5s;
        border-radius: 0 !important;
    }
    
    .panel:hover {
        box-shadow: 0 0 40px rgba(0, 0, 0, .2)
    }
    
    .panel-footer .btn:hover {
        border: 1px solid #f4511e;
        background: #fff;
        color: #f4511e;
    }
    
    .panel-heading {
        color: #fff !important;
        background: #f4511e !important;
        padding: 25px !important;
        border-bottom: 1px solid transparent !important;
        border-radius: 0px !important;
    }
    
    .panel-footer {
        background: #fff !important;
    }
    
    .panel-footer h3 {
        font-size: 40px !important;
    }
    
    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }
    
    .panel-footer .btn {
        margin: 15px 0;
        background: #f4511e;
        color: #fff;
    }
    */
   
   footer .glyphicon {
       font-size: 20px;
       margin-bottom: 20px;
       color: #f4511e;
   }
   
   footer p {
       color: #bbb;
   }
