body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}


/*#hide-display{
        display:none;
}*/


/* navbar */

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0 !important;
    background-color: #FF8640 !important;
    z-index: 9999 !important;
    border: 0 !important;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default,
.navbar-toggle {
    border-color: transparent !important;
    color: #fff !important;
}

.reelLogo {
    width: 35px;
    height: 35px;
}


/* Jumbotron */

.jumbotron {
    font-family: Montserrat, sans-serif;
    background-color: #2988BC !important;
    color: #ffffff !important;
    padding: 100px 25px !important;
    /*margin-bottom: 150px !important;*/
}

.btn-danger {
    background-color: #FF8640 !important;
    border-color: #ED8C72 !important;
}

.bg-grey {
    background: #f6f6f6;
}

.logo {
    font-size: 200px;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none !important;
    color: #f4511e !important;
}

.carousel-indicators li {
    border-color: #f4511e !important;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #2988BC;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

footer p {
    background-color: #FF8640 !important;
    color: #ffffff !important;
}

.placeholderSidebarLeft {
    background-color: #2988BC;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    /* Font styles */
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.placeholderSidebarRight {
    background-color: #2988BC;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    /* Font styles */
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.questions-here {
    background-color: #2988BC;
    height: 300px;
    width: 600px;
    border: 1px solid black;
    margin: auto;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
    border-radius: 5px;
    color: white;
}

.question-buttons {
    width: 50% !important;
    margin: auto;
    color: #fff;
    background-color: #6496c8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #27496d;
    margin-bottom: 10px !important;
}

.question-buttons:hover {
    background-color: #417cb8;
}

.question-buttons:focus {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
}

.buttonFocused {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
}

.purchase-container {
    border: 1px solid black;
    height: 110px;
    width: 500px;
    margin: auto;
}

.icons {
    height: 75px;
    width: 75px;
    margin: auto;
}

